* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header principal */
.head-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 230px;
    background-color: rgb(81, 116, 229);
}
.image-container {
    width: 80px;
    height: 80px;
    margin: 20px;
}
.image-container #avatar {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 5px double white;
}
.personal-info {
    display: flex;
    height: 80px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

/* Peersonal Info */
.personal-info div {
    font-size: 20px;
}

.personal-info p {
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.line {
    width: 300px;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Header derecha */
.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.nav-links .item {
    list-style: none;
   
}
.nav-links a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    border-radius: 35px;
    transition: .4s;
}
.nav-links a:hover {
    background-color: lightgrey;
    color: rgb(111, 111, 235);
    text-decoration: none;
}


/* container disposicion del Main */
.container{
    display: flex;
    width: 100%;
    height: 330px;
    box-sizing: border-box;
    background-color:rgb(215, 221, 221);
    justify-content: center;
    align-items: center;
    background-image: url('../images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer principal */
.footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightslategray;
}
.footer-left {
    width: 35%;
    margin-left: 20px;
}
.rrss {
    display: flex;
    justify-content: space-between;
}
.rrss li {
    list-style: none;
}
.rrss li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 35px;
    transition: .4s;
}
.rrss li a:hover {
background-color: lightgrey;
    color: rgb(111, 111, 235);
    text-decoration: none;
}
.rrss li a:visited {
        color: blue;
        text-decoration: none;
    }

.footer-right {
    color: blue;
    font-size: 14px;
    font-weight: bold;
    margin-right: 30px;
}